.View {
  display: flex;
  flex-direction: column;
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  flex: 1
}

.horizontal {
  flex-direction: row;
}

/*  */

.alignHorizontalLeft {
  align-items: flex-start;
}

.alignHorizontalCenter {
  align-items: center;
}

.alignHorizontalRight {
  align-items: flex-end;
}

/*  */

.alignVerticalLeft {
  justify-content: flex-start;
}

.alignVerticalCenter {
  justify-content: center;
}

.alignVerticalRight {
  justify-content: flex-end;
}

/*  */

.paddingHorizontal-none {
  padding-left: 0px;
  padding-right: 0px;
}

.paddingHorizontal-small {
  padding-left: 8px;
  padding-right: 8px;
}

.paddingHorizontal-medium {
  padding-left: 16px;
  padding-right: 16px;
}

.paddingHorizontal-large {
  padding-left: 24px;
  padding-right: 24px;
}

.paddingHorizontal-xlarge {
  padding-left: 32px;
  padding-right: 32px;
}

/*  */

.paddingVertical-none {
  padding-top: 0px;
  padding-bottom: 0px;
}

.paddingVertical-small {
  padding-top: 8px;
  padding-bottom: 8px;
}

.paddingVertical-medium {
  padding-top: 16px;
  padding-bottom: 16px;
}

.paddingVertical-large {
  padding-top: 24px;
  padding-bottom: 24px;
}

.paddingVertical-xlarge {
  padding-top: 32px;
  padding-bottom: 32px;
}

/*  */

.backgroundGray0 {
  background: hsl(0, 0%, 5%);
}
