.Component {
}

.componentBody {
  width: 1400px;
  height: 200px;
  border: 1px solid hsl(0, 0%, 0%);
  border-top: 1px solid hsl(0, 0%, 15%);
  /* background: linear-gradient(0deg, hsl(0, 0%, 3%), hsl(0, 0%, 6%)); */
  background: 0 0 / 100% 3px linear-gradient(0deg, hsl(0, 0%, 4%) 50%, hsl(0, 0%, 7%));
}

.componentFoot {
  background: linear-gradient(90deg, hsl(0, 0%, 0%), hsl(0, 0%, 5%), hsl(0, 0%, 0%));
}
